@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins&display=swap');
#logo {
  font-weight: 600;
  color: black;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}